{% macro list(customers) %}
    {% if customers|length > 0 %}
        <table id="customers" class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>USERNAME</th>
                    <th>EMAIL</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for customer in customers %}
                <tr>
                    <td>{{ customer.id }}</td>
                    <td>{{ customer.username }}</td>
                    <td>{{ customer.email }}</td>
                    <td></td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
    {% endif %}
{% endmacro %}